* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-transition: 300ms;
    --white-color: #fff;
    --black-color: #000;
    --black-color-alt: #333;
    --green-color: #4caf50;
    --red-color: #ff2525;
    --main-border: 1px solid #eee;
    --border-radious: 999999px;
}
body {
    background-color: var(--white-color);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    padding: 10px 0;
    background-color: var(--white-color);
}
header::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #eee;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    color: var(--black-color);
    font-size: 22px;
    font-weight: 400;
}
header .new_operation button {
    border: none;
    padding: 8px 15px;
    border-radius: var(--border-radious);
    color: var(--white-color);
    background-color: var(--black-color);
    cursor: pointer;
    transition: var(--main-transition);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .new_operation button:hover {
    background-color: var(--black-color-alt);
}
header .new_operation button i {
    display: block;
    font-size: 16px;
    margin-left: 5px;
    bottom: -1px;
}
/* End Header */
/* Start Wallet Information */
.info {
    margin-top: 72px;
    padding: 15px;
}
.info .container {
    min-height: 100px;
    background-color: #fdfcfc;
    padding: 20px;
    overflow: hidden;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.info .container::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fdfcfc;
    border: 50px solid #efebeb;
    opacity: 0.3;
    bottom: 0;
    left: -80px;
    z-index: 1;
}
.info .container::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fdfcfc;
    border: 50px solid #efebeb;
    opacity: 0.2;
    top: 0;
    right: -80px;
    z-index: 1;
}
.info .container img.walletImg {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    z-index: 1;
}
.info .text {
    z-index: 2;
    color: var(--black-color-alt);
}
.info h3 {
    font-weight: 600;
    z-index: 10000;
}
.info span {
    font-size: 60px;
    font-family: "Ms Madi", cursive;
    margin-right: 10px;
    z-index: 10;
}
.info h1 {
    font-size: 32px;
    font-weight: 700;
    z-index: 10;
}
.info .line {
    width: 100px;
    position: absolute;
}
.info .line_1 {
    right: 185px;
    top: 0
}
.info .line_2 {
    right: 260px;
    bottom: -20px;
    transform: rotate(-65deg);
}
/* End Wallet Information */
/* Start Main Section */
.main {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main .box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border: var(--main-border);
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    transition: var(--main-transition);
    cursor: pointer;
}
.main .box:hover {
    background-color: #f6f6f8;
}
.main .box p {
    color: var(--black-color-alt);
}
.main .box i {
    font-size: 22px;
}
.main .box.add i {
    color: var(--green-color);
}
.main .box.withdraw i {
    color: var(--red-color);
}
@media (max-width: 776px) {
    .main .box p:last-child {
        display: none;
    }
    .info .container img.walletImg {
        width: 150px;
        top: 85px;
    }
    .info .container::before,
    .info .container::after {
        width: 180px;
        height: 180px;
        border-width: 20px;
    }
    .info .line_1 {
        right: 0;
    }
}
/* End Main Section */

